.body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column; /* arrage items on top of the other */
  justify-content: center;
  align-items: center;
}
.canvas {
  box-shadow: rgb(0, 0, 0) 20px 10px 50px; /*elevate our canvas and add shadow*/
}

.inputButtons {
  place-items: center;
}

/* .backgroundImage {
  background-image: url("background.jpg");
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* /* background: url("video-1.mp4") ; */
/* }  */

.parent {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: left;
}
.child {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  align-self: middle;
}


.buttonMove {
  height: 50px;
  width: 58px;
  background-image: url("images/move.png");
  /* background: url('../../public/images/img-4.jpg') center center/cover no-repeat;  */
}

.buttonReport {
  height: 50px;
  width: 60px;
  background-image: url("images/report.png");
}

.buttonAttack {
  height: 50px;
  width: 57px;
  background-image: url("images/attack.png");
}

.buttonleftArrow {
  height: 50px;
  width: 54px;
  background-image: url("images/leftArrow.png");
}

.buttonRightArrow{
  height: 50px;
  width: 54px;
  background-image: url("images/rightArrow.png");
}

